
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
   
    <title>Document</title>
  
</head>
<body>
    <div class="about">
        <div class="main">
            <img src="~/image/about_logo.png" width="600" height="600">
            <div class="about-text">
                <h1>About Us</h1>
                <h5>Coffee House <span>& Original Taste</span></h5>
                <p>
                    Welcome to Coffee House, where passion infuses every cup.
                    Our carefully curated coffee beans, sourced globally, promise a
                    distinctive experience. Explore our online store for premium blends, each crafted with dedication.
                    Elevate your coffee journey with us – a haven for enthusiasts seeking quality and flavor.
                </p>
                <a type="submit" style="color: #ebd1b6;" asp-action="Index" asp-controller="CoffeeMenu">Menu</a>
            </div>
        </div>
    </div>
</body>
</html>